/* experimental */

@font-face {
    font-family: 'BlackHawk';
    font-style: normal;
    src: local('BlackHawk'), local('BlackHawk'),
      url('/fonts/BlackHawk.otf') format('otf'), 
  }

  .navbar-header {
      background-color: rgb(224, 16, 16);
  }

 /*  // https://reactnavigation.org/docs/en/headers.html#adjusting-header-styles */
