body {
  margin: 0;
  padding: 0;
  background-color: slategrey;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.card-title {
  color: rgb(231, 241, 241);
}

.navbar-brand {
  font-family: "Nashville Regular", fantasy;
  font-size: 2rem;
}